*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#4D694E;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.forgot-password-container{
    width:600px;
    background:white;
    padding:50px;
    border-radius:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.forgot-password-container h2{
    text-align:center;
    margin-bottom:15px;
}

.description{
    text-align:center;
    color:#777;
    margin-bottom:35px;
    line-height:1.5;
}

.email{
    margin-bottom:25px;
}

.email label{
    display:block;
    font-weight:600;
    margin-bottom:10px;
}

.email input{
    width:100%;
    padding:16px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.submit-button{
    display:block;
    width:100%;
    padding:18px;
    background:#526F50;
    color:white;
    text-decoration:none;
    text-align:center;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    margin-bottom:20px;
}

.submit-button:hover{
    opacity:0.9;
}

.back-link{
    display:block;
    text-align:center;
    color:#526F50;
    text-decoration:none;
    font-weight:500;
}

.back-link:hover{
    text-decoration:underline;
}