*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f2f2f2;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.property-sidebar{
    width: 20%; 
    height: 100%; 
    background-color: #526F50;
}
.property-container{
    background-color: white;
    width: 100%; 
    height: 100%; 
    padding: 30px;
}

.property-header{
    padding-bottom: 15px; 
}

.property-options{
    padding-top: 20px;
    padding-bottom: 20px; 
}

.property-options button{
    padding: 5px; 
}

.search{
    padding-left: 35vw;  
}

.search input{
    height: 28px; 
} 

table, th, td{
    border: 2px solid lightgray; 
    border-collapse: collapse;
    padding: 20px;
    text-align: center; 
}

.pageturn{
    padding-top: 20px; 
}

.pageturn button{
    padding: 5px; 
}

.pageturn p{
    padding-bottom: 10px; 
}

.property-grid{
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 20px;
    align-items: start;
 
}

.assign-grid{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.property-details,
.assign-owner,
.assign-residents{
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 4px; 
}

table{
    width: 100%;
}

.tab{
    overflow: hidden; 
    border: 1px solid #ccc;
    background-color: #f1f1f1; 
}

.tab button{
    background-color: inherit; 
    float: left; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: 14px 16px; 
    transition: 0.3s; 
}

.tab button:hover{
    background-color: #ddd; 
}

.tab button.active{
    background-color: #ccc; 
}

.tabcontent{
    display: none; 
    padding: 6px 12px; 
    border: 1px solid #ccc;
    border-top: none; 
}
 
ul {
  list-style-type: none;  
  padding: 0;  
  margin: 0; 
}

ul li {
  border: 1px solid #ddd;  
  margin-top: -1px;  
  background-color: #f6f6f6;  
  padding: 12px;  
}
