*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f2f2f2;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.property-container{
    background: white;
    border-radius: 16px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 65vw; 
    height: 35vw; 
    padding: 30px; 
}

.property-search{
    padding-bottom: 10px; 
}

.property-search label{
    font-weight: 600;
    font-size: 20px; 
    padding-right: 5px; 
}

.property-search input{
    height: 23px;
}

.property-filter{
    padding-bottom: 20px; 
    padding-top: 10px;
    font-weight: 600;
}

.property-filter select{
    padding: 5px; 
}

#lot{
    padding-left: 20px;
}

.property-options{
    padding-bottom: 20px; 
}

.property-options button{
    padding: 12px; 
    border-radius: 6px;
    border-color: lightgray;  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}
